.text{
  font-size: 30px;
  line-height: 40px;
  margin: 20px 0;
  text-align: center;
  width: 750px;
}

.page{
  width: 750px;
}

.form{
  width: 750px;
}
.formItem{
  width: 700px;
  margin: 25px 25px!important;
}
