html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
  height: 100%;
}

#__next {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  position: relative;

  // 移除ie浏览器滚动条
  -ms-overflow-style: none;
  // 移除火狐浏览器滚动条
  scrollbar-width: none;

  // 谷歌浏览器样式定制
  &::-webkit-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 10px;

  }
  &::-webkit-scrollbar-track-piece {
    background-color: #fff; /*滚动条的背景颜色*/
    -webkit-border-radius: 0; /*滚动条的圆角宽度*/
  }
  &::-webkit-scrollbar-thumb:vertical { /*垂直滚动条的样式*/
    height: 50px;
    background-color: #999;
    -webkit-border-radius: 4px;
    outline: 2px solid #fff;
    outline-offset: -2px;
    border: 2px solid #fff;
  }
  &::-webkit-scrollbar-thumb:hover { /*滚动条的hover样式*/
    height: 50px;
    background-color: #9f9f9f;
    -webkit-border-radius: 4px;
  }
}

html, body, ul, ol, dt, dd, img, p, h1, h2, h3, h4, h5, h6, input, textarea, select, fieldset, legend, ul, ol, dl, th {
  margin: 0;
  padding: 0;
}

body {
  font-family: "微软雅黑";
  color: #333;
}

input, img {
  border: 0;
  outline: none;
}

img {
  display: block;
}

ul, ol, li {
  list-style: none
}

html {
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

/* rem 适配 */
$deviceWidths:320,360,375,384,414,448,480,512,544,576,608,640;
@each $width in $deviceWidths{
  @media (min-width:#{$width}px){
    html{
      font-size:#{$width/10}px!important;
    }
  }
}
